@font-face {
	font-family: 'Mynerve-Regular';
	src: url(../fonts/Mynerve-Regular.ttf);
}
@import url("mobile.css");

body {
    background-color: #FFF5BF;
}

.site_head {
    font-family: 'Mynerve-Regular', 'Great Vibes', 'Lobster', cursive;
	font-size: 50px;
    text-align: center;
    margin: 30px auto;
}

.social_list ul li {
	list-style: none;
	text-align: center;
}

.social_icon {
	width: 22px;
	height: 22px;
	padding: 3px 10px;
}

.container {
  	display: flex;
  	flex-direction: row;
	justify-content: center;
	margin: 0 0;
	padding: 0 0;
}

.wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}

.mynerve-regular {
  font-family: "Mynerve", cursive;
  font-weight: 400;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}